/* --- Knowledges --- */
.knowledges {
  list-style: none;
}

.knowledges li {
  display: inline-block;
  background-color: $FRONT;
  border-radius: 3px;
  color: #fff;
  padding: 1px 10px;
  margin: 3px 2px;
  font-size: 13px;
}
/* --- End of Knowledges --- */

#welBack .knowledges li {
  background-color: $BACK;
}
