/* --- Skills --- */
/* Skills Second Style */
.skills-info.skills-second-style {
    margin-bottom: 30px;
  }
  
  .skills-info.skills-second-style h4 { 
    font-size: 13px;
    line-height: 1.1em;
    position: relative; 
    float: left;
    margin: 0 0 4px;
  }
  
  .skills-second-style .skill-container {
    position: relative;
    display: inline-block;
    background-color: #222;
    border: 1px solid $FRONT;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 10px;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .backend .skills-second-style .skill-container {
    border: 1px solid $BACK;
}
  .skills-second-style .skill-container:before {
    content: '';
    position: absolute;
    background-color: $FRONT;
  }
  .backend .skills-second-style .skill-container:before { 
    background-color: $BACK;
  }

  .skills-second-style .skill-value {
    font-size: 11px;
    line-height: 1.1em;
    position: relative;
    float: right;
    margin: 0 0 4px;
    color: #aaa;
  }
  
  .skills-second-style .skill-percentage {
    background-color: $FRONT;
    border: 2px solid #222;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    height: 8px;
    padding: 0;
  }

  .backend .skills-second-style .skill-percentage {
    background-color: $BACK;
  }
  
  /* --- Skills Values --- */
  .skills-second-style .skill-container.skill-100 .skill-percentage {
    width: 100%;
  }

  .skills-second-style .skill-container.skill-95 .skill-percentage {
    width: 95%;
  }
  
  .skills-second-style .skill-container.skill-90 .skill-percentage {
    width: 90%;
  }
  
  .skills-second-style .skill-container.skill-85 .skill-percentage {
    width: 85%;
  }
  
  .skills-second-style .skill-container.skill-80 .skill-percentage {
    width: 80%;
  }
  
  .skills-second-style .skill-container.skill-75 .skill-percentage {
    width: 75%;
  }

  .skills-second-style .skill-container.skill-70 .skill-percentage {
    width: 70%;
  }

  .skills-second-style .skill-container.skill-65 .skill-percentage {
    width: 65%;
  }

  .skills-second-style .skill-container.skill-60 .skill-percentage {
    width: 60%;
  }
    
  .skills-second-style .skill-container.skill-55 .skill-percentage {
    width: 55%;
  }

  .skills-second-style .skill-container.skill-50 .skill-percentage {
    width: 50%;
  }

  .skills-second-style .skill-container.skill-45 .skill-percentage {
    width: 45%;
  }

  .skills-second-style .skill-container.skill-40 .skill-percentage {
    width: 40%;
  }  

  .skills-second-style .skill-container.skill-35 .skill-percentage {
    width: 35%;
  }  

  .skills-second-style .skill-container.skill-30 .skill-percentage {
    width: 30%;
  }  

  .skills-second-style .skill-container.skill-25 .skill-percentage {
    width: 25%;
  }  

  .skills-second-style .skill-container.skill-20 .skill-percentage {
    width: 20%;
  }  

  .skills-second-style .skill-container.skill-15 .skill-percentage {
    width: 15%;
  }  

  .skills-second-style .skill-container.skill-10 .skill-percentage {
    width: 10%;
  }  

  .skills-second-style .skill-container.skill-5 .skill-percentage {
    width: 5%;
  }  

  .skills-second-style .skill-container.skill-0 .skill-percentage {
    width: 0%;
  }  
  
  /* --- End of Skills Values --- */
  
  /* Animate skills on subpage load */
  .pt-page .skills-second-style .skill-percentage,
  .pt-page .skills-second-style .skill-value {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
