
/* COLORS */
	$WHITE: #fff;
	$BLACK: #000;
	$FRONT: #018c8f;
	$BACK: #8d8f01;



/* IMAGES */
	// $BACKGROUND_HEADER: '/i/pattern.png';

/* LAYOUTS */
	$CONTAINER: 66.66667rem;

/* FONTS */
	$SERIF: Poppins, Arial;
	$SANSERIF: Poppins, sans-serif;

	$TITLE: 1.44443rem;
	$TITLE_MOD: 0.77778rem;






